<div class="details-container container">

  <div class="description-examples">
    <div class="description-card card-style">
      <h3>{{subtopic_name}}</h3>
      <p>{{description}}</p>
    </div>

    <div class="examples-card card-style">
      <h3>Code Example</h3>
      <code> {{code_examples}} </code>
    </div>
  </div>

  <div class="resources-card card-style">
    <h3>Resources</h3>
    <ul>
      {{#each resources as |resource|}}
        <li><a href="{{resource}}" target="_blank">{{resource}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>